* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-size: 2.2rem;
  background: #0b0617fc;
  color: #fff;
  padding: 2rem;
}

h1 {
  text-align: center;
  margin: 2rem;
  color: #ccc;
}
.alert {
  padding: 1rem 2rem;
  margin: 2rem;
  border: 1px solid #ccc;
  background: rgba(42, 150, 138, 0.6);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alert--success {
  background: #041c0497;
  border-color: green;
  color: #4ca34c;
}

.alert--primary {
  border-color: dodgerblue;
  background: #0b0b25af;
  color: #5c7dc1;
}

.message {
  flex: 1;
}

.btn-close {
  font-size: 2.5rem;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  background: transparent;
  outline: none;
  border: 0;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-close:hover {
  opacity: 0.4;
}

.btn {
  outline: none;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 2rem;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s;
}

.btn--primary {
  color: #fff;
  background: #2727a3;
}

.btn--primary:hover {
  opacity: 0.7;
}
